body {
    font-family: arial;
    color: white;
    margin: 0;
    padding-bottom: 80px;
}

hr {
    height: 5px;
    width: 100%;
    color: #6817b4;
    background-color: #6817b4;
    border: none;
    margin: 0 auto;
    position: fixed;
    z-index: 2;
}

.mainBg {
    background-color: #C0C0C0;
}

.secondaryBg {
    background-color: #6817b4;
}

#decisioning {
    margin-top: 60px;
}

.MainSelection {
    padding: 30px;
}

.CategoryWrap {
    text-align: center;
}

.CategoryWrap img {
    display: inline-block;
    padding-top: 10px;
}

.CategoryText {
    font-size: 20pt;
    padding: 20px;
}

.CategoryTitle {
    text-align: center;
    margin: 30px 0px;
    font-size: 35pt;
    color: black;
}

#Cat1 {
    background-color: #434343;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#Cat1:hover {
    background-color: #262626;
}

#Cat2 {
    background-color: #ffd710;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#Cat2:hover {
    background-color: #c5a505;
}

#Cat3 {
    background-color: #2fce2c;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#Cat3:hover {
    background-color: #19b216;
}

#Cat4 {
    background-color: #1db4f9;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#Cat4:hover {
    background-color: #0591d0;
}


.decision{
    text-align: center;
    font-size: 15pt;
}

.decision img {
    margin-top: 10px;
    display: inline-block;
    padding: 5px 16px;
}

.decisionDetail {
    padding: 25px 30px;
}

.decision a {

}

.decision a:hover .decisionDetail{
    background-color: #400874;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#login {
    margin-top: 40px;
    text-align: center;
}

#LoginButton {
    font-size: 18pt;
    background: #656565;
    display: inline-block;
    padding: 20px 35px;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

#LoginButton:hover{
    background: #383838 ;
}

#lang{
    margin-top: 40px;
    text-align: center;
}


#logos {
    margin: 80px 0 40px 0;
}

#logos img {
    padding: 30px;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.lanBut{
    font-size: 18px;
    background: #B0B0B0;
    text-align: center;
    display: inline-block;
    padding: 20px;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.lanBut:hover{
    cursor:pointer;
    background: #383838 ;
}

.Home {
    padding: 10px 20px;
    bottom: 10px;
    left: 0;
    position: fixed;
    font-size: 20pt;
    background-color:#6817b4;
    text-transform: uppercase;
}

.Home img {
    width: 35px;
    margin: 0 0 10px 10px;
}

.Words {
    text-align: center;
}

.Words img {
    display: inline-block;
    max-height: 150px;
}
/*-----------------------------------decision-----------------------------------*/
.imgSearch {
    width: 26px;  
}

#yesBg {
    background-color: #7be75e;
    min-height: 0px;
}

#yesBg img {
    position: center;
}

#noBg {
    background-color: #f95f4a;
    min-height: 0px;
}

#noBg img {
    position: center;
}

.yesnoWrap {
    margin-top: 30px;
}

.truthDecision {
    background-color: white;
    margin: 30px 0 0 0;
    padding: 160px 60px;
}

.decisionBox {
    background-color: white;
    margin: 30px 0 0 0;
    padding: 160px 10px;
    text-align: center;
}

.decisionBox img{
    display: inline-block;
}

.Name {
    font-size: 20pt;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.Name p {
    margin: none;
}

.ImgResult {
    text-align: center;
}

.ImgResult img {
    display: inline-block;
}


/*-----------------------------------detail-----------------------------------*/

.DetailTitle {
    text-align: center;
    margin: 30px 0px;
    font-size: 35pt;
    color: black;
}


video {
    max-width: 100%;
    margin-top: 30px;
}
/*-----------------------------------login-----------------------------------*/

#mask {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.login-popup{
    display:none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
    float: right;
    margin: -28px -28px 0 0;
}

fieldset {
    border:none;
}

form.signin .textbox label {
    display:block;
    padding-bottom:7px;
}

form.signin .textbox span {
    display:block;
}

form.signin .textbox input {
    background:#666666;
    border-bottom:1px solid #333;
    border-left:1px solid #000;
    border-right:1px solid #333;
    border-top:1px solid #000;
    color:#fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font:13px Arial, Helvetica, sans-serif;
    padding:6px 6px 4px;
    width:200px;
}

.Username {
    color:#999;
    font-size:12px;
    line-height:18px;
}

.Password {
    color:#999;
    font-size:12px;
    line-height:18px;
}

.forgot {
    color:#999;
    font-size:15px;
}

#span1, #span2 {
    color: #000000;
    display: block;
}