* {
margin: 0;
padding: 0;
}
html {
	height: 100%;
}
body{
    background-color: #C0C0C0;
    height:100%;
}

hr{
    width:100%;
    height: 5px;
    color: #660099;
    background-color: #6817b4;
    margin-top:0px;
    
}

.HomeBorder{
    width:18%;
    height:100%;
    max-width:180px;
    max-height:50px;
    
}

.HomeWrapper{
    padding-top:10%;
    width:100%;
    height:40%;
    position:relative;bottom:0%;left:0%;
    text-decoration: none;

}

.Home{
    width:100%
    height:100%
    text-align:left;
    padding-left:5%;
    font-family:arial; 
    color:white;
    background-image: url(../img/home.png);
    background-size: 20% 60%;
    background-position:90% 50%;
    background-repeat: no-repeat;
    font-size: 40px;
    background-color:#6817b4;
}

.TruthDecision{
    padding:5%;
    background-color: #C0C0C0;
    
    text-align: center;
    width:90%;
    height:100%;
    
      min-width:500px;
    max-width:1000px;
    min-height:400px;
    max-height:800px;
    font-size: 50px;
}

.Word{ 
    width:100%;
    height:50%;
}

.BotDecision{
     width:100%;
    height:50%;
}

.SearchBox{ 
    background-color: white;
    width:100%;
    height:100%;
    display:inline-block; } 

.imgBtn { 
    width: 3%; } 


.ImgResult{
    width:50%;
    height:100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display:inline-block;
}

.ImgResult img{
    width:100%;
    height:100%;
}
.Name{
    color:white;
    font-family:arial; 
    width:49%;
    height:100%;
    display:inline-block;
    font-size:12px;
    
    
}

.Yes{
margin:0;
    width:50%;
    height:100%;
    display:inline-block;
}

.ImgYes{
    
    width:100%;
    height:100%;
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color:#7be75e ;
    display:inline-block;
}

.No{
     width:50%;
    height:100%;
    display:inline-block;
}

.ImgNo{
    width:100%;
    height:100%;
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color:#f95f4a   ;
    display:inline-block;

}

.BotDecision img{
     width:100%;
    height:100%;

}
 





#SearchBoxText1{
    background-color: lightgrey;
    width:30%;
    height:10%;
    margin-top:10%; 
    color:black;
    font-size: 20px;
}




