body {
    background-color: #cacaca;
}
* {
margin: 0;
padding: 0;
}
.Wrapper{
    background-color: #cacaca;
    
    
    width:100%;
    height:80%;
    
    
    font-size: 50px;
    font-family:arial;
    color:black;
    position:relative;
}

.WordsList{
    padding:1%;
    margin-left:5%;
    width:90%;
    height:100%;
}

.CategoryTitle{
text-align: center;

}
hr {

    width:100%;
    height: 5px;
    color: #6817b4;
    background-color: #6817b4;


}

.HomeBorder{
    width:18%;
    height:100%;
    max-width:180px;
    max-height:50px;
    
}

.HomeWrapper{
    padding-top:10%;
    width:100%;
    height:40%;
    position:relative;bottom:0%;left:0%;
    text-decoration: none;

}

.Home{
    width:100%
    height:100%
    text-align:left;
    padding-left:5%;
    font-family:arial; 
    color:white;
    background-image: url(../img/home.png);
    background-size: 20% 60%;
    background-position:90% 50%;
    background-repeat: no-repeat;
    font-size: 40px;
    background-color:#6817b4;
}

.Hover{
    background-color: #000000 ;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

}

.Words{
    margin: 0;

    width : 100%;
    height : 100%;
    background-color: green;
    background-size: 100% 100%;
    position:relative;
    background-repeat: no-repeat;
    
}

.Words img{
     width : 100%;
    height: 40%;
}
.Footer{
    width:100%;
    height: 20%;
    position:relative; bottom:0px;
}

.WordsList a{
       width: 20%;
    height: 20%;
    padding: 1%;
    max-width:260px;
}